doctype html
head
  meta(charset='UTF-8')
  title CodePen - CSS Grid: Floor Plan
  link(href='https://fonts.googleapis.com/css?family=Poppins:400,600' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css')
  link(rel='stylesheet' href='./script.js')
// partial:index.partial.html
.main-content
  .door-hor
  .utility
    .door-hor
    .name #10 utility room
  .kitchen
    .ref
    .rug
    .cabinets
      .stove
    .sink
      .sink-tap-1
      .sink-tap-2
    .island
      .chair
    .name #1 kitchen
  .bathroom-2
    .window-hor
    .door-hor
    .shower
    .toilet
    .vanity
    .rug
    .name #2 bath
  .bedroom-2
    .door-ver
    .window-hor
    .bed-table
    .bed
      .blanket
      .pillow
    .table
    .name #3 guest bedroom
  .living-room
    .rug
    .window-ver
    .sofa
    .coffee-table
    .tv-set
    .name #4 living room
  .bedroom-1
    .rug
    .door-hor
    .window-hor
    .bed
      .blanket
      .pillow
      .pillow
    .bed-table
    .bed-table
    .name #5 master bedroom
  .closet
    .wall-gap
    .name #6 walk-in closet
  .bathroom-1
    .door-ver
    .door-ver
    .window-hor
    .rug
    .bathtub
    .vanity
    .toilet
    .name #7 bath
  .office
    .door-hor
    .window-hor
    .table
    .name #8 home office
  .patio
    .door-sliding
    .real-patio
      .name #9 balcony
    .patio-table
    .patio-chair
    .patio-chair
aside.context
  .explanation
    | By Sanat Gupta
    | .
footer
// partial
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='./script.js')
